<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Comment Delete Heading</h4>
            <p class="card-category">Delete Comment With Http Delete</p>
        </div>
        <div class="card-body">
                <div>
                    <div>
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">postId</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Comment</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="comments.length < 1">
                                    <td colspan="5">No Comment Available</td>
                                </tr>
                              <tr *ngFor="let comment of comments; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{comment.id}}</td>
                                <td>{{comment.postId}}</td>
                                <td>{{comment.name}}</td>
                                <td>{{comment.email}}</td>
                                <td>{{comment.body}}</td>
                                <td>
                                    <i class="fa-solid material-icons mouse-hover"(click)="onDeleteCommentAndRefresh(comment.id)">delete</i>
                                  </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
