<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://twitter.com/MusstafaUlker" target="_blank">
                        Musstafa ÜLKER - Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mustafalker/"target="_blank">
                        Musstafa ÜLKER - İnstagram
                    </a>
                </li>
                <li>
                    <a href="https://dev.to/mustafaulker"target="_blank">
                        Musstafa ÜLKER - Dev.To
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/musstafaulker/"target="_blank">
                        Musstafa ÜLKER - Linkedln
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right"target="_blank">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://github.com/mustafalker" target="_blank">Designer</a> for a better learning.
        </div>
    </div>
</footer>
