<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title">Get Comments</h4>
                                <p class="card-category">Get All Comments</p>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-secondary">Execute</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Get Comments</h4>
                        <p class="card-category"> Get Comments By Id</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Get Comments</h4>
                        <p class="card-category"> Get Comments By Post Id</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>