<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Add Comments</h4>
                      <p class="card-category">Complete your comment</p>
                  </div>
                  <div class="card-body">
                      <form type="hidden" #form="ngForm" class="form-group" (submit)="onSubmit(form)" 
                      [class.submitted]="service.formSubmitted">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input type="number" matInput placeholder="id" required name="id"
                                    [(ngModel)]="service.formData.id" novalidate autocomplete="off" min="1" max="2147483646">
                                  </mat-form-field>
                                  <div *ngIf="form.controls['id']?.hasError('required') && form.controls['id'].touched" class="error-message">Bu kısım boş bırakılamaz.</div>
                                  <div *ngIf="form.controls['id']?.hasError('min') && !form.controls['id'].hasError('required') && (form.controls['id'].valid || form.controls['id'].dirty)" class="error-message">id değeri sıfırdan farklı olmalıdır.</div>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="postId" name="postId" 
                                  [(ngModel)]="service.formData.postId" required novalidate autocomplete="off">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input type="text" matInput placeholder="Name" type="text" 
                                 name="Name" [(ngModel)]="service.formData.Name" required novalidate autocomplete="off">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input type="email" matInput placeholder="someone@example.com" 
                                 name="Email" [(ngModel)]="service.formData.Email" required novalidate autocomplete="off">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>Enter Your Comment</label>
                                <mat-form-field class="example-full-width">
                                  <textarea matInput placeholder="You can enter the comment you want to add in the field below."
                                            name="comment" [(ngModel)]="service.formData.Body" required novalidate autocomplete="off"></textarea>
                                </mat-form-field>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-danger pull-right" value="Add Comment" [disabled]="form.invalid">Add Comment</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
